.element-container {
  width: 240px;
  padding: 20px 400px;
  background-color: lightcoral;
  border: 1px solid #777;
  transition: background-color ease 0.4s;
}

.element-container div {
  min-width: 200px;
}

.element-container.active {
  background-color: green;
}